body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(gold,black) 
}
.container {
    background: white;
    width: 46%;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid red
}
h2{
    color: red;
}
hr {
    border: none;
    height: 2px;
    background: red;
    margin: 10px 0 20px 0;
}
p {
    line-height: 2;
    color: black;
}
.quote {
    border: 1px solid red;
    background: lightyellow;
    border-left: 5px solid red;
    padding: 15px;
    margin: 25px 0;
    font-style: italic;
    color: black;
    border-radius: 5px;
}
.authbox {
    display: flex;
    background: lightyellow;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid red;
    margin-top: 25px;
    gap: 15px;
}
.authbox img {
    border-radius: 8px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid red;
}
.authbox h3 {
    margin: 0 0 5px 0;
    color: red;
}
.footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightcoral;
    color: darkblue;
    padding: 12px 20px;
    border-radius: 10px;
}
.price {
    font-weight: bold;
    font-size: 18px;
}